body{
	background: url(../img/bg.gif) 0 0 / .23rem .23rem;
}
.swiper-slide{
	overflow: hidden;
	max-width: 10rem;
	margin: 0 auto;
}

.down-icon {
	position: absolute;
	right: .25rem;
	bottom: 1.25rem;
	z-index: 11;
	width: .64rem;
	height: .64rem;
	background: url('../img/down.png') no-repeat;
	background-size: cover;
}

/*page 1*/
.muisc{
	position: fixed;
	right: .25rem;
	top: .25rem;
	z-index: 10;
	width: .64rem;
}
.page1 img:not(.frame){
	position: absolute;
}
.page1 .cont_wrap{
	padding: 6% .5rem;
	position: relative;
}
.page1 .frame{
	width: 100%;
}
.page1 .tit{
	left: 13%;
	top: 1rem;
	width: 77%;
}
.page1 .logo{
	left: 37%;
	top: 33%;
	width: 26%;
}
.page1 .bill{
	right: 12%;
	top: 40%;
	width: 56%;
}
.page1 .pen{
	left: 26%;
	top: 40%;
	width: 16%;
}
.page1 .calc{
	left: 10%;
	top: 70%;
	width: 45%;
}
.page1 .l_dec{
	left: 0;
	top: 25%;
	width: 25%;
}
.page1 .r_dec{
	right: -4%;
	top: 35%;
	width: 26%;
}

/*page2*/
.page2 .top{
	width: 90%;
	margin: 4% 0 0 2%;
}
.page2 .bottom{
	width: 98%;
	margin-top: 6%;
}

/*page3*/
.page3 img:not(.bg){
	position: absolute;
}
.page3 .txt{
	left: 10%;
	top: 6%;
	width: 80%;
}
.page3 .stu{
	left: 21%;
	top: 25%;
	width: 9%;
}
.page3 .dec1{
	left: 23%;
	top: 42%;
	width: 11%;
}
.page3 .dec2{
	left: 40%;
	top: 53%;
	width: 13%;
}
.page3 .dec3{
	left: 72%;
	top: 62%;
	width: 22%;
}
.page3 .btn{
	left: 25%;
	top: 68%;
	width: 50%;
}

/*page4*/
.ques_item .cont_wrap{
	position: relative;
	margin-top: -5%;
}
.ques_item .title,.ques_item .ans_list{
	position: absolute;
	color: #d7000f;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.ques_item .title{
	left: 10%;
	width: 56%;
	top: 22.5%;
	height: 26%;
	font-size: .4rem;
	padding: 0 10%;
	font-weight: bold;
}
.ques_item .title span{font-size: .7em;display: block;}
.ques_item .ans_list{
	left: 13%;
	width: 74%;
	top: 51%;
	height: 38%;
	font-size: .36rem;
	flex-direction: column;
}
.ques_item .ans_list dt label{
	display: block;
	width: 4.98rem;
	height: .78rem;
	line-height: .74rem;
	background: url(../img/page_4_btn.png) no-repeat 0 0 / 100% 100%;
	font-weight: bold;
}
.ques_item .ans_list dt input:checked+label{
	background-image: url(../img/page_4_btnChk.png);
}
.ques_item .boy{
	position: absolute;
}
.page4 .boy{
	right:16%;
	top: 12.5%;
	width:11%;
}

/*page5*/
.page5 .boy{
	right:21%;
	top: 11%;
	width:5%;
}

/*page6*/
.page6 .boy{
	right:14%;
	top: 14%;
	width:9%;
}
.ques_item .ans_list dd{
	font-size: .24rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin-top: 4%;
}
.ques_item .ans_list dd p{
	text-align: left;
}
.ques_item .ans_list .dd0 {margin-bottom: 4%;}
.ques_item .ans_list .dd0 p{width: 50%;}
.ques_item .ans_list dd label{
	display: block;
	background: url(../img/page_6_rdo.png) no-repeat 0 center / 1em 1em;
	padding-left: 1.2em;
}
.ques_item .ans_list dd input:checked+label{
	background-image: url(../img/page_6_rdoChk.png);
}

/*page7*/
.page7 .boy{
	left:12%;
	top: 36%;
	width:10%;
}

/*page8*/
.page8 .boy{
	right:15%;
	top: 12%;
	width:11%;
}

/*page9*/
.page9 .boy{
	left:10%;
	top: 42%;
	width:16%;
}
.page9 dt{margin-bottom: 3%;}
.page9 .sub{
	position: absolute;
	right: 0;
	bottom: 7%;
	width: 3.04rem;
}

/*page10*/
.page10 .cont_wrap{
	position: relative;
	margin-top: 5%;
}
.page10 .cont_wrap>*:not(.bg){
	position: absolute;
}
.page10 .top_txt{
	left:13%;
	top: 3%;
	width:74%;
	font-size: .3rem;
	color: #d7000f;
	text-align: center;
	font-weight: bold;
}
.page10 .top_txt span{
	font-size: 1.5em;
	color: #000;
	line-height: 1;
}
.page10 .bill_wrap{
	left:0;
	top: 10%;
	width: 100%;
}
.page10 .bill_wrap .stu{
	width: 55%;
	margin: 25% auto 0;
}
.page10 .bill_wrap dl{
	position: absolute;
	width: 32%;
	background: #fff;
	border: .02rem solid #d7000f;
	font-weight: bold;
	z-index: 2;
}
.page10 .bill_wrap dt{
	font-size: .24rem;
	color: #d7000f;
	border-bottom: .02rem solid #d7000f;
	padding: 2% 6%;
}
.page10 .bill_wrap dd{
	font-size: .34rem;
	color: #000;
	padding: 7%;
}
.page10 .bill_wrap dl:nth-child(1){top: 7%;left: 5%;}
.page10 .bill_wrap dl:nth-child(2){top: 11%;left:52%;}
.page10 .bill_wrap dl:nth-child(3){top: 26%;left: 15%;}
.page10 .bill_wrap dl:nth-child(4){top: 30%;left: 46%;}
.page10 .bill_wrap dl:nth-child(5){top: 50%;left: 10%;}
.page10 .bill_wrap dl:nth-child(6){top: 48%;left: 60%;}
.page10 .info{
	left:0;
	top: 75%;
	width: 100%;
	text-align: center;
	font-size: .18rem;
	color: #d7000f;
}
.page10 .bottom_txt{
	left:4%;
	top: 80%;
	width: 70%;
	background: #e06b73;
	font-size: .28rem;
	color: #fff;
	padding: 2% 4%;
}

/*page11*/
.page11 .bg{
	width: 100%;
	position: absolute;
	left: 0;
	top: -2%;
	z-index: 1;
}
.page11 .top{
	position: relative;
	z-index: 2;
	width: 87%;
	margin: 12% 0 0 13%;
}
.page11 .bottom{
	position: relative;
	z-index: 2;
	width: 89%;
	margin: -10% 0 0 0;
}

/*page12*/
.page12 .bg{
	width: 100%;
	position: absolute;
	left: 0;
	top: 2%;
	z-index: 1;
}
.page12 .top{
	position: relative;
	z-index: 2;
	width: 87%;
	margin: 12% 0 0 7%;
}
.page12 .bottom{
	position: relative;
	z-index: 2;
	width: 90%;
	margin: -7% 0 0 5%;
}
.page12 .bottom_txt{
	position: relative;
	z-index: 2;
	width: 70%;
	margin: 2% 0 0 13%;
}

.page13 .txt{
	width: 84%;
	margin: 10% 8% 0;
}
.page13 .main_cont{
	position: relative;
	margin-top: 12%;
}
.page13 .main_cont .dec{
	width: 100%;
}
.page13 .main_cont img:not(.dec){
	position: absolute;
}
.page13 .main_cont .t0{
	width: 70%;
	left: 15%;
	top: 50%;
  -webkit-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
  transform: translate(0,-50%);
}
.page13 .main_cont .t1{
	left:10%;
	top: -4%;
	width: 60%;
}
.page13 .main_cont .t2{
	right:3%;
	top:30%;
	width: 42%;
}
.page13 .main_cont .t3{
	left:3%;
	top:66%;
	width: 48%;
}


/* page14 */
.page14 .txt{
	width: 84%;
	margin: 10% 8% 0;
}

.page14 .top {
	width: 84%;
	margin: 20% 8% 0;
}

.page14 .bg {
	position: absolute;
	width: 100%;
	top: 0;
}

/* end */

.user_share{
	position: fixed;
	left: 50%;
	bottom: 0;
	width: 100%;
	z-index: 3;
	background: rgba(255,255,255,.8);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4%;
	box-sizing: border-box;
	max-width: 10rem;
	margin: 0 auto;
	-webkit-transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
	-o-transform: translate(-50%,0);
	transform: translate(-50%,0);
	display: none;
}
.user_share dl{
	display: flex;
	flex: 1;
}
.user_share dt img{
	width: 1.3rem;
	height: 1.3rem;
	border-radius: 50%;
}
.user_share dd{
	font-size: .36rem;
	margin-left: 4%;
}
.user_share .btn{
	background: #d7000f;
	color: #fff;
	border-radius: 5em;
	font-size: .32rem;
	border-radius: 5em;
	padding: 2% 0;
	width: 7em;
	text-align: center;
}
